<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="优测教育" parallel="false">
    <!--参数化-->
    <parameter name="filePathParam" value="D:\\app_testcase.xlsx"/>

    <test name="接口自动化">
        <classes>
            <class name="com.youceedu.interf.test.TestRun">
                <methods>
                    <include name="httpReq"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <!-- reportng报告替代testng默认报告 -->
        <listener class-name = "org.uncommons.reportng.HTMLReporter" />
        <listener class-name = "org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
</suite>